<h3>{{name}},</h3>
<p>Спасибо за регистрацию на курс <strong>{{course}}</strong>.</p>
<p>В ближайшее время мы свяжемся с вами для уточнения деталей.</p>
<p>На ваш email {{email}} отправлено письмо с подтверждением регистрации на курс.</p>

<button id="closeModal" type="button" class="btn btn-default">Закрыть окно</button>