<article class="color-row row">
	<div class="col-xs-11 col-xs-offset-1">
		<div class="text-center">
			<h3 class="title">Контакты</h3>
		</div>
			<p class="lead text-center" >
					(097)-2555106 Елена | (063)-7078513 Андрей <br>
					skype: webcamp.welcome <br>
					email: info@webcamp.com.ua <br>
					home: Киев, ул. Дарвина, 10, 2 подъезд
			</p>
			<p class="lead text-center no-decor">
				<a href="">
					<i class="icon-xs-fb fa fa-facebook fa-lg"></i>
				</a>
				<a href="">
					<i class="icon-xs-gp fa fa-google-plus fa-lg"></i>
				</a>
				<a href="">
					<i class="icon-xs-yt fa fa-youtube fa-lg"></i>
				</a>
			</p>
	</div>
</article>
<div class="row">

    
	<div id="map-canvas">
		map
	</div>
</div>

