<div class="row color-row webcamp">
	<div class="col-sm-7 col-sm-offset-1">
		<div id="about" >
			<h3 class="title">Кто мы?</h3>
		</div>
		<div id="classes">
			<h3 class="title">Класс</h3>
				<div class="office-photos">
					<div class="gallery" id="gallery">
						<div class="close-gallery"><i class="icon-sm-yellow fa fa-times fa-3x"></i></div>
						<div class="photos">
							<div class="prev"><i class="icon fa fa-chevron-left fa-4x"></i></div>
							<div class="photo">
									<img src="/images/office-photo/office-1.JPG" class="" alt="">
									<img src="/images/office-photo/office-2.JPG" class="" alt="">
									<img src="/images/office-photo/office-3.JPG" class="" alt="">
									<img src="/images/office-photo/office-4.JPG" class="" alt="">
									<img src="/images/office-photo/office-5.JPG" class="" alt="">
							</div>
							<div class="next"><i class="icon fa fa-chevron-right fa-4x"></i></div>
						</div>
					</div>
					<img src="/images/office-photo/office-sm-1.JPG" class="img-thumbnail" alt="">
					<img src="/images/office-photo/office-sm-2.JPG" class="img-thumbnail" alt="">
					<img src="/images/office-photo/office-sm-3.JPG" class="img-thumbnail" alt="">
					<img src="/images/office-photo/office-sm-4.JPG" class="img-thumbnail" alt="">
					<img src="/images/office-photo/office-sm-5.JPG" class="img-thumbnail" alt="">

				</div>
		</div>{{!-- end classes --}}
	</div>
	<div id="news" class="col-sm-4">
		<h3 class="title">Новости</h3>
	</div>
</div>