<div class="rows">
	<div class="cell">
		<ul id="left-items" class="list-unstyled">
			<li><a href="#courses">Курсы</a></li>
			<li><a href="#schedule">Расписание</a></li>
			<li><a href="#instructors">Преподаватели</a></li>
			<li><a href="#reviews">Отзывы</a></li>
			<li><a href="#about">О нас</a></li>
		</ul>
	</div>
	<div class="cell">
		<div id="slider"> <i class="fa fa-chevron-right fa-4x"></i> </div>
	</div>
</div>
