<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">
  <svg viewBox="0 0 220 233" xml:space="preserve">
    <g i:extraneous="self">
    <path id="bg-box" d="M240,221c0,6.627-5.373,12-12,12H12c-6.627,0-12-5.373-12-12V12C0,5.373,5.373,0,12,0h216
      c6.627,0,12,5.373,12,12V221z"/>
    <g id="shadows">
      <defs>
        <path id="mask" d="M240,221c0,6.627-5.373,12-12,12H12c-6.627,0-12-5.373-12-12V12C0,5.373,5.373,0,12,0h216
          c6.627,0,12,5.373,12,12V221z"/>
      </defs>
      <clipPath id="mask_1_">
        <use xlink:href="#mask"  overflow="visible"/>
      </clipPath>
      <g id="shadow" opacity="0.2" clip-path="url(#mask_1_)">
        <path opacity="0" d="M263,302V197h14v105H263L263,302z M257,376v-23h26v23H257L257,376z M331.011,339H203.419l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.4L331.011,339L331.011,339z"/>
        <path opacity="0.0044" d="M262,301V196h15v105H262L262,301z M257,375v-23h25v23H257L257,375z M330.351,339H202.759l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L330.351,339L330.351,339z"/>
        <path opacity="0.0088" d="M262,300V195h14v105H262L262,300z M256,374v-23h25v23H256L256,374z M329.69,338H202.099l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L329.69,338L329.69,338z"/>
        <path opacity="0.0132" d="M261,299V195h15v104H261L261,299z M255,374v-23h26v23H255L255,374z M329.03,337H201.438l-33.593-142
          h14.165l35.229,127h98.397l36.759-127h13.399L329.03,337L329.03,337z"/>
        <path opacity="0.0176" d="M260,299V194h15v105H260L260,299z M255,373v-23h25v23H255L255,373z M328.37,336H200.779l-33.594-142
          h14.165l35.229,127h98.397l36.759-127h13.4L328.37,336L328.37,336z"/>
        <path opacity="0.022" d="M260,298V193h14v105H260L260,298z M254,372v-23h26v23H254L254,372z M327.711,336H200.119l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L327.711,336L327.711,336z"/>
        <path opacity="0.0264" d="M259,297V192h15v105H259L259,297z M253,371v-23h26v23H253L253,371z M327.051,335H199.459l-33.594-143
          h14.166l35.228,128h98.398l36.758-128h13.4L327.051,335L327.051,335z"/>
        <path opacity="0.0308" d="M258,296V192h15v104H258L258,296z M253,371v-23h25v23H253L253,371z M326.392,334H198.799l-33.593-142
          h14.165l35.228,127h98.399l36.757-127h13.401L326.392,334L326.392,334z"/>
        <path opacity="0.0352" d="M258,296V191h14v105H258L258,296z M252,370v-23h26v23H252L252,370z M325.731,333H198.14l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.4L325.731,333L325.731,333z"/>
        <path opacity="0.0397" d="M257,295V190h15v105H257L257,295z M251,369v-23h26v23H251L251,369z M325.071,333H197.479l-33.594-143
          h14.166l35.228,128h98.398l36.758-128h13.4L325.071,333L325.071,333z"/>
        <path opacity="0.0441" d="M256,294V189h15v105H256L256,294z M251,368v-23h25v23H251L251,368z M324.411,332H196.819l-33.593-143
          h14.165l35.228,128h98.398l36.758-128h13.4L324.411,332L324.411,332z"/>
        <path opacity="0.0485" d="M256,293V189h14v104H256L256,293z M250,368v-23h26v23H250L250,368z M323.751,331H196.159l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.4L323.751,331L323.751,331z"/>
        <path opacity="0.0529" d="M255,293V188h15v105H255L255,293z M249,367v-23h26v23H249L249,367z M323.092,330H195.5l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.4L323.092,330L323.092,330z"/>
        <path opacity="0.0573" d="M254,292V187h15v105H254L254,292z M249,366v-23h25v23H249L249,366z M322.432,330H194.84l-33.594-143
          h14.165l35.228,128h98.398l36.757-128h13.401L322.432,330L322.432,330z"/>
        <path opacity="0.0617" d="M254,291V186h14v105H254L254,291z M248,365v-23h26v23H248L248,365z M321.771,329H194.18l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L321.771,329L321.771,329z"/>
        <path opacity="0.0661" d="M253,290V186h15v104H253L253,290z M247,365v-23h26v23H247L247,365z M321.111,328H193.52l-33.593-142
          h14.165l35.227,127h98.399l36.758-127h13.4L321.111,328L321.111,328z"/>
        <path opacity="0.0705" d="M252,290V185h15v105H252L252,290z M247,364v-23h25v23H247L247,364z M320.452,327H192.86l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.401L320.452,327L320.452,327z"/>
        <path opacity="0.0749" d="M252,289V184h14v105H252L252,289z M246,363v-23h26v23H246L246,363z M319.791,327H192.199l-33.593-143
          h14.166l35.228,128h98.398l36.758-128h13.399L319.791,327L319.791,327z"/>
        <path opacity="0.0793" d="M251,288V183h15v105H251L251,288z M245,362v-23h26v23H245L245,362z M319.132,326H191.54l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L319.132,326L319.132,326z"/>
        <path opacity="0.0837" d="M250,287V183h15v104H250L250,287z M245,362v-23h25v23H245L245,362z M318.473,325H190.881l-33.594-142
          h14.166l35.228,127h98.398l36.758-127h13.4L318.473,325L318.473,325z"/>
        <path opacity="0.0881" d="M250,287V182h14v105H250L250,287z M244,361v-23h26v23H244L244,361z M317.812,324H190.221l-33.594-142
          h14.165l35.228,127h98.398l36.757-127h13.4L317.812,324L317.812,324z"/>
        <path opacity="0.0925" d="M249,286V181h15v105H249L249,286z M243,360v-23h26v23H243L243,360z M317.152,324H189.561l-33.594-143
          h14.165l35.229,128h98.398l36.758-128h13.4L317.152,324L317.152,324z"/>
        <path opacity="0.0969" d="M248,285V180h15v105H248L248,285z M243,359v-23h25v23H243L243,359z M316.492,323H188.9l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L316.492,323L316.492,323z"/>
        <path opacity="0.1013" d="M248,284V180h14v104H248L248,284z M242,359v-23h26v23H242L242,359z M315.832,322H188.241l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.399L315.832,322L315.832,322z"/>
        <path opacity="0.1057" d="M247,284V179h15v105H247L247,284z M241,358v-23h26v23H241L241,358z M315.173,321H187.581l-33.594-142
          h14.166l35.228,127h98.398l36.758-127h13.4L315.173,321L315.173,321z"/>
        <path opacity="0.1101" d="M246,283V178h15v105H246L246,283z M241,357v-23h25v23H241L241,357z M314.513,321H186.921l-33.594-143
          h14.165l35.228,128h98.398l36.757-128h13.401L314.513,321L314.513,321z"/>
        <path opacity="0.1145" d="M246,282V177h14v105H246L246,282z M240,356v-23h26v23H240L240,356z M313.853,320H186.261l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L313.853,320L313.853,320z"/>
        <path opacity="0.1189" d="M245,281V177h15v104H245L245,281z M239,356v-23h26v23H239L239,356z M313.193,319H185.602l-33.594-142
          h14.165L201.4,304h98.398l36.757-127h13.401L313.193,319L313.193,319z"/>
        <path opacity="0.1234" d="M244,281V176h15v105H244L244,281z M239,355v-23h25v23H239L239,355z M312.533,318H184.941l-33.594-142
          h14.166l35.227,127h98.399l36.758-127h13.4L312.533,318L312.533,318z"/>
        <path opacity="0.1278" d="M244,280V175h14v105H244L244,280z M238,354v-23h26v23H238L238,354z M311.872,318H184.281l-33.594-143
          h14.165l35.227,128h98.399l36.758-128h13.399L311.872,318L311.872,318z"/>
        <path opacity="0.1322" d="M243,279V174h15v105H243L243,279z M237,353v-23h26v23H237L237,353z M311.213,317H183.621l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L311.213,317L311.213,317z"/>
        <path opacity="0.1366" d="M243,278V174h14v104H243L243,278z M237,353v-23h25v23H237L237,353z M310.553,316H182.962l-33.594-142
          h14.165l35.227,127h98.398l36.759-127h13.4L310.553,316L310.553,316z"/>
        <path opacity="0.141" d="M242,278V173h14v105H242L242,278z M236,352v-23h26v23H236L236,352z M309.894,315H182.302l-33.594-142
          h14.165L198.1,300h98.399l36.757-127h13.4L309.894,315L309.894,315z"/>
        <path opacity="0.1454" d="M241,277V172h15v105H241L241,277z M236,351v-23h25v23H236L236,351z M309.233,315H181.642l-33.594-143
          h14.166l35.227,128h98.399l36.758-128h13.399L309.233,315L309.233,315z"/>
        <path opacity="0.1498" d="M241,276V171h14v105H241L241,276z M235,350v-23h25v23H235L235,350z M308.573,314H180.981l-33.593-143
          h14.165l35.228,128h98.398l36.758-128h13.4L308.573,314L308.573,314z"/>
        <path opacity="0.1542" d="M240,275V171h14v104H240L240,275z M234,350v-23h26v23H234L234,350z M307.914,313H180.322l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L307.914,313L307.914,313z"/>
        <path opacity="0.1586" d="M239,275V170h15v105H239L239,275z M234,349v-23h25v23H234L234,349z M307.254,312H179.662l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L307.254,312L307.254,312z"/>
        <path opacity="0.163" d="M239,274V169h14v105H239L239,274z M233,348v-23h25v23H233L233,348z M306.594,312H179.002l-33.594-143
          h14.166L194.8,297h98.399l36.758-128h13.4L306.594,312L306.594,312z"/>
        <path opacity="0.1674" d="M238,273V168h14v105H238L238,273z M232,347v-23h26v23H232L232,347z M305.934,311H178.342l-33.594-143
          h14.166l35.227,128h98.398l36.758-128h13.4L305.934,311L305.934,311z"/>
        <path opacity="0.1718" d="M237,272V168h15v104H237L237,272z M232,347v-23h25v23H232L232,347z M305.274,310H177.683l-33.594-142
          h14.165l35.227,127h98.399l36.757-127h13.4L305.274,310L305.274,310z"/>
        <path opacity="0.1762" d="M237,272V167h14v105H237L237,272z M231,346v-23h25v23H231L231,346z M304.613,309H177.022l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L304.613,309L304.613,309z"/>
        <path opacity="0.1806" d="M236,271V166h14v105H236L236,271z M230,345v-23h26v23H230L230,345z M303.954,309H176.362l-33.594-143
          h14.165l35.227,128h98.399l36.757-128h13.401L303.954,309L303.954,309z"/>
        <path opacity="0.185" d="M235,270V165h15v105H235L235,270z M230,344v-23h25v23H230L230,344z M303.294,308H175.702l-33.594-143
          h14.165l35.228,128H289.9l36.757-128h13.4L303.294,308L303.294,308z"/>
        <path opacity="0.1894" d="M235,269V165h14v104H235L235,269z M229,344v-23h25v23H229L229,344z M302.634,307H175.043l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.4L302.634,307L302.634,307z"/>
        <path opacity="0.1938" d="M234,269V164h14v105H234L234,269z M228,343v-23h26v23H228L228,343z M301.975,306H174.383l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.4L301.975,306L301.975,306z"/>
        <path opacity="0.1982" d="M233,268V163h15v105H233L233,268z M228,342v-23h25v23H228L228,342z M301.314,306H173.723l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L301.314,306L301.314,306z"/>
        <path opacity="0.2026" d="M233,267V162h14v105H233L233,267z M227,341v-23h25v23H227L227,341z M300.654,305H173.062l-33.593-143
          h14.165l35.228,128h98.398l36.758-128h13.4L300.654,305L300.654,305z"/>
        <path opacity="0.2071" d="M232,266V162h14v104H232L232,266z M226,341v-23h26v23H226L226,341z M299.995,304H172.403l-33.594-142
          h14.166l35.228,127h98.398l36.758-127h13.4L299.995,304L299.995,304z"/>
        <path opacity="0.2115" d="M231,266V161h15v105H231L231,266z M226,340v-23h25v23H226L226,340z M299.334,303H171.742l-33.593-142
          h14.165l35.228,127h98.398l36.757-127h13.4L299.334,303L299.334,303z"/>
        <path opacity="0.2159" d="M231,265V160h14v105H231L231,265z M225,339v-23h25v23H225L225,339z M298.675,303H171.083l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L298.675,303L298.675,303z"/>
        <path opacity="0.2203" d="M230,264V159h14v105H230L230,264z M224,338v-23h26v23H224L224,338z M298.015,302H170.423l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L298.015,302L298.015,302z"/>
        <path opacity="0.2247" d="M229,263V159h15v104H229L229,263z M224,338v-23h25v23H224L224,338z M297.355,301H169.763l-33.594-142
          h14.166l35.227,127h98.399l36.758-127h13.4L297.355,301L297.355,301z"/>
        <path opacity="0.2291" d="M229,263V158h14v105H229L229,263z M223,337v-23h25v23H223L223,337z M296.695,300H169.103l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L296.695,300L296.695,300z"/>
        <path opacity="0.2335" d="M228,262V157h15v105H228L228,262z M222,336v-23h26v23H222L222,336z M296.035,300H168.443L134.85,157
          h14.165l35.227,128h98.399l36.758-128h13.4L296.035,300L296.035,300z"/>
        <path opacity="0.2379" d="M227,261V156h15v105H227L227,261z M222,335v-23h25v23H222L222,335z M295.375,299H167.783l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L295.375,299L295.375,299z"/>
        <path opacity="0.2423" d="M227,260V156h14v104H227L227,260z M221,335v-23h26v23H221L221,335z M294.716,298H167.124L133.53,156
          h14.165l35.227,127h98.399l36.757-127h13.401L294.716,298L294.716,298z"/>
        <path opacity="0.2467" d="M226,260V155h15v105H226L226,260z M220,334v-23h26v23H220L220,334z M294.056,297H166.463L132.87,155
          h14.166l35.227,127h98.399l36.758-127h13.4L294.056,297L294.056,297z"/>
        <path opacity="0.2511" d="M225,259V154h15v105H225L225,259z M220,333v-23h25v23H220L220,333z M293.395,297H165.803L132.21,154
          h14.165l35.227,128h98.399l36.758-128h13.399L293.395,297L293.395,297z"/>
        <path opacity="0.2555" d="M225,258V153h14v105H225L225,258z M219,332v-23h26v23H219L219,332z M292.735,296H165.144L131.55,153
          h14.165l35.228,128h98.399l36.757-128h13.4L292.735,296L292.735,296z"/>
        <path opacity="0.2599" d="M224,257V153h15v104H224L224,257z M218,332v-23h26v23H218L218,332z M292.076,295H164.484L130.89,153
          h14.166l35.227,127h98.399l36.758-127h13.4L292.076,295L292.076,295z"/>
        <path opacity="0.2643" d="M223,257V152h15v105H223L223,257z M218,331v-23h25v23H218L218,331z M291.416,294H163.824L130.23,152
          h14.165l35.227,127h98.399l36.758-127h13.4L291.416,294L291.416,294z"/>
        <path opacity="0.2687" d="M223,256V151h14v105H223L223,256z M217,330v-23h26v23H217L217,330z M290.756,294H163.164L129.57,151
          h14.165l35.227,128h98.399l36.758-128h13.4L290.756,294L290.756,294z"/>
        <path opacity="0.2731" d="M222,255V150h15v105H222L222,255z M216,329v-23h26v23H216L216,329z M290.096,293H162.504L128.91,150
          h14.165l35.228,128h98.398l36.758-128h13.4L290.096,293L290.096,293z"/>
        <path opacity="0.2775" d="M221,254V150h15v104H221L221,254z M216,329v-23h25v23H216L216,329z M289.437,292H161.845L128.25,150
          h14.165l35.227,127h98.399L312.8,150h13.399L289.437,292L289.437,292z"/>
        <path opacity="0.2819" d="M221,254V149h14v105H221L221,254z M215,328v-23h26v23H215L215,328z M288.776,291H161.184l-33.593-142
          h14.165l35.227,127h98.399l36.758-127h13.4L288.776,291L288.776,291z"/>
        <path opacity="0.2863" d="M220,253V148h15v105H220L220,253z M214,327v-23h26v23H214L214,327z M288.115,291H160.524l-33.594-143
          h14.165l35.227,128h98.399l36.757-128h13.401L288.115,291L288.115,291z"/>
        <path opacity="0.2908" d="M219,252V147h15v105H219L219,252z M214,326v-23h25v23H214L214,326z M287.456,290H159.864l-33.594-143
          h14.165l35.228,128h98.399l36.757-128h13.4L287.456,290L287.456,290z"/>
        <path opacity="0.2952" d="M219,251V147h14v104H219L219,251z M213,326v-23h26v23H213L213,326z M286.797,289H159.205l-33.594-142
          h14.165l35.228,127h98.398l36.758-127h13.4L286.797,289L286.797,289z"/>
        <path opacity="0.2996" d="M218,251V146h15v105H218L218,251z M212,325v-23h26v23H212L212,325z M286.137,288H158.544l-33.594-142
          h14.166l35.228,127h98.398L309.5,146h13.4L286.137,288L286.137,288z"/>
        <path opacity="0.304" d="M217,250V145h15v105H217L217,250z M212,324v-23h25v23H212L212,324z M285.477,288H157.885l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L285.477,288L285.477,288z"/>
        <path opacity="0.3084" d="M217,249V144h14v105H217L217,249z M211,323v-23h26v23H211L211,323z M284.816,287H157.225l-33.594-143
          h14.166l35.227,128h98.398l36.758-128h13.4L284.816,287L284.816,287z"/>
        <path opacity="0.3128" d="M216,248V144h15v104H216L216,248z M210,323v-23h26v23H210L210,323z M284.156,286H156.565l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L284.156,286L284.156,286z"/>
        <path opacity="0.3172" d="M215,248V143h15v105H215L215,248z M210,322v-23h25v23H210L210,322z M283.497,285H155.905l-33.593-142
          h14.165l35.227,127h98.399l36.757-127h13.4L283.497,285L283.497,285z"/>
        <path opacity="0.3216" d="M215,247V142h14v105H215L215,247z M209,321v-23h26v23H209L209,321z M282.836,285H155.245l-33.594-143
          h14.166l35.227,128h98.399L306.2,142H319.6L282.836,285L282.836,285z"/>
        <path opacity="0.326" d="M214,246V141h15v105H214L214,246z M208,320v-23h26v23H208L208,320z M282.177,284H154.585l-33.594-143
          h14.165l35.227,128h98.4l36.757-128h13.4L282.177,284L282.177,284z"/>
        <path opacity="0.3304" d="M213,245V141h15v104H213L213,245z M208,320v-23h25v23H208L208,320z M281.518,283H153.926l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L281.518,283L281.518,283z"/>
        <path opacity="0.3348" d="M213,245V140h14v105H213L213,245z M207,319v-23h26v23H207L207,319z M280.857,282H153.265l-33.593-142
          h14.165l35.227,127h98.399l36.758-127h13.4L280.857,282L280.857,282z"/>
        <path opacity="0.3392" d="M212,244V139h15v105H212L212,244z M206,318v-23h26v23H206L206,318z M280.197,282H152.605l-33.594-143
          h14.166l35.227,128h98.399l36.758-128h13.4L280.197,282L280.197,282z"/>
        <path opacity="0.3436" d="M211,243V138h15v105H211L211,243z M206,317v-23h25v23H206L206,317z M279.537,281H151.945l-33.594-143
          h14.165l35.228,128h98.398L302.9,138h13.4L279.537,281L279.537,281z"/>
        <path opacity="0.348" d="M211,242V138h14v104H211L211,242z M205,317v-23h26v23H205L205,317z M278.877,280H151.286l-33.594-142
          h14.165l35.227,127h98.399l36.757-127h13.4L278.877,280L278.877,280z"/>
        <path opacity="0.3524" d="M210,242V137h15v105H210L210,242z M204,316v-23h26v23H204L204,316z M278.218,279H150.625l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L278.218,279L278.218,279z"/>
        <path opacity="0.3568" d="M210,241V136h14v105H210L210,241z M204,315v-23h25v23H204L204,315z M277.558,279H149.966l-33.594-143
          h14.165l35.227,128h98.399l36.757-128h13.4L277.558,279L277.558,279z"/>
        <path opacity="0.3612" d="M209,240V135h14v105H209L209,240z M203,314v-23h26v23H203L203,314z M276.897,278H149.306l-33.594-143
          h14.165l35.228,128h98.399l36.757-128h13.4L276.897,278L276.897,278z"/>
        <path opacity="0.3656" d="M208,239V135h15v104H208L208,239z M203,314v-23h25v23H203L203,314z M276.238,277H148.646l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L276.238,277L276.238,277z"/>
        <path opacity="0.37" d="M208,239V134h14v105H208L208,239z M202,313v-23h25v23H202L202,313z M275.578,276H147.986l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L275.578,276L275.578,276z"/>
        <path opacity="0.3745" d="M207,238V133h14v105H207L207,238z M201,312v-23h26v23H201L201,312z M274.918,276H147.326l-33.594-143
          h14.165l35.227,128h98.399l36.758-128h13.4L274.918,276L274.918,276z"/>
        <path opacity="0.3789" d="M206,237V132h15v105H206L206,237z M201,311v-23h25v23H201L201,311z M274.258,275H146.666l-33.594-143
          h14.165l35.228,128h98.399l36.757-128h13.4L274.258,275L274.258,275z"/>
        <path opacity="0.3833" d="M206,236V132h14v104H206L206,236z M200,311v-23h25v23H200L200,311z M273.598,274H146.007l-33.594-142
          h14.166l35.227,127h98.399l36.758-127h13.399L273.598,274L273.598,274z"/>
        <path opacity="0.3877" d="M205,236V131h14v105H205L205,236z M199,310v-23h26v23H199L199,310z M272.938,273H145.346l-33.593-142
          h14.165l35.227,127h98.399l36.757-127h13.4L272.938,273L272.938,273z"/>
        <path opacity="0.3921" d="M204,235V130h15v105H204L204,235z M199,309v-23h25v23H199L199,309z M272.278,273H144.687l-33.594-143
          h14.165l35.227,128h98.399l36.758-128h13.4L272.278,273L272.278,273z"/>
        <path opacity="0.3965" d="M204,234V129h14v105H204L204,234z M198,308v-23h25v23H198L198,308z M271.618,272H144.026l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L271.618,272L271.618,272z"/>
        <path opacity="0.4009" d="M203,233V129h14v104H203L203,233z M197,308v-23h26v23H197L197,308z M270.959,271H143.367l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L270.959,271L270.959,271z"/>
        <path opacity="0.4053" d="M202,233V128h15v105H202L202,233z M197,307v-23h25v23H197L197,307z M270.299,270H142.707l-33.594-142
          h14.166l35.227,127h98.399l36.758-127h13.4L270.299,270L270.299,270z"/>
        <path opacity="0.4097" d="M202,232V127h14v105H202L202,232z M196,306v-23h25v23H196L196,306z M269.639,270H142.047l-33.594-143
          h14.165l35.228,128h98.399l36.758-128h13.4L269.639,270L269.639,270z"/>
        <path opacity="0.4141" d="M201,231V126h14v105H201L201,231z M195,305v-23h26v23H195L195,305z M268.979,269H141.387l-33.594-143
          h14.165l35.228,128h98.398l36.758-128h13.4L268.979,269L268.979,269z"/>
        <path opacity="0.4185" d="M200,230V126h15v104H200L200,230z M195,305v-23h25v23H195L195,305z M268.319,268H140.728l-33.594-142
          h14.165l35.227,127h98.399l36.757-127h13.401L268.319,268L268.319,268z"/>
        <path opacity="0.4229" d="M200,230V125h14v105H200L200,230z M194,304v-23h25v23H194L194,304z M267.658,267H140.067l-33.594-142
          h14.166l35.227,127h98.399l36.758-127h13.4L267.658,267L267.658,267z"/>
        <path opacity="0.4273" d="M199,229V124h14v105H199L199,229z M193,303v-23h26v23H193L193,303z M266.999,267H139.407l-33.594-143
          h14.165l35.227,128h98.399l36.757-128h13.4L266.999,267L266.999,267z"/>
        <path opacity="0.4317" d="M198,228V123h15v105H198L198,228z M193,302v-23h25v23H193L193,302z M266.339,266H138.747l-33.593-143
          h14.165l35.227,128h98.4l36.757-128h13.4L266.339,266L266.339,266z"/>
        <path opacity="0.4361" d="M198,227V123h14v104H198L198,227z M192,302v-23h25v23H192L192,302z M265.68,265H138.088l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.4L265.68,265L265.68,265z"/>
        <path opacity="0.4405" d="M197,227V122h15v105H197L197,227z M191,301v-23h26v23H191L191,301z M265.02,264H137.427l-33.593-142
          h14.165l35.227,127h98.399l36.758-127h13.4L265.02,264L265.02,264z"/>
        <path opacity="0.4449" d="M196,226V121h15v105H196L196,226z M191,300v-23h25v23H191L191,300z M264.359,264H136.768l-33.594-143
          h14.166l35.227,128h98.399l36.758-128h13.4L264.359,264L264.359,264z"/>
        <path opacity="0.4493" d="M196,225V120h14v105H196L196,225z M190,299v-23h25v23H190L190,299z M263.699,263H136.107l-33.594-143
          h14.165l35.227,128h98.4l36.757-128h13.4L263.699,263L263.699,263z"/>
        <path opacity="0.4537" d="M195,224V120h15v104H195L195,224z M189,299v-23h26v23H189L189,299z M263.04,262H135.448l-33.594-142
          h14.165l35.227,127h98.399l36.758-127h13.399L263.04,262L263.04,262z"/>
        <path opacity="0.4582" d="M194,224V119h15v105H194L194,224z M189,298v-23h25v23H189L189,298z M262.379,261H134.788l-33.593-142
          h14.165l35.227,127h98.399l36.757-127h13.401L262.379,261L262.379,261z"/>
        <path opacity="0.4626" d="M194,223V118h14v105H194L194,223z M188,297v-23h26v23H188L188,297z M261.719,261H134.128l-33.594-143
          h14.165l35.227,128h98.399l36.758-128h13.4L261.719,261L261.719,261z"/>
        <path opacity="0.467" d="M193,222V117h15v105H193L193,222z M187,296v-23h26v23H187L187,296z M261.06,260H133.468L99.874,117
          h14.166l35.227,128h98.399l36.757-128h13.4L261.06,260L261.06,260z"/>
        <path opacity="0.4714" d="M192,221V117h15v104H192L192,221z M187,296v-23h25v23H187L187,296z M260.4,259H132.809L99.215,117
          h14.165l35.227,127h98.399l36.758-127h13.4L260.4,259L260.4,259z"/>
        <path opacity="0.4758" d="M192,221V116h14v105H192L192,221z M186,295v-23h26v23H186L186,295z M259.74,258H132.148L98.554,116
          h14.165l35.227,127h98.399l36.758-127h13.4L259.74,258L259.74,258z"/>
        <path opacity="0.4802" d="M191,220V115h15v105H191L191,220z M185,294v-23h26v23H185L185,294z M259.08,258H131.488L97.895,115
          h14.165l35.227,128h98.399l36.758-128h13.4L259.08,258L259.08,258z"/>
        <path opacity="0.4846" d="M190,219V114h15v105H190L190,219z M185,293v-23h25v23H185L185,293z M258.42,257H130.828L97.234,114
          h14.165l35.228,128h98.398l36.758-128h13.4L258.42,257L258.42,257z"/>
        <path opacity="0.489" d="M190,218V114h14v104H190L190,218z M184,293v-23h26v23H184L184,293z M257.761,256H130.169L96.575,114
          h14.165l35.227,127h98.399l36.757-127h13.401L257.761,256L257.761,256z"/>
        <path opacity="0.4934" d="M189,218V113h15v105H189L189,218z M183,292v-23h26v23H183L183,292z M257.101,255H129.509L95.915,113
          h14.165l35.227,127h98.399l36.758-127h13.399L257.101,255L257.101,255z"/>
        <path opacity="0.4978" d="M188,217V112h15v105H188L188,217z M183,291v-23h25v23H183L183,291z M256.439,255H128.849L95.254,112
          h14.166l35.227,128h98.399l36.758-128h13.399L256.439,255L256.439,255z"/>
        <path opacity="0.5022" d="M188,216V111h14v105H188L188,216z M182,290v-23h26v23H182L182,290z M255.781,254H128.188L94.595,111
          h14.165l35.228,128h98.399l36.757-128h13.401L255.781,254L255.781,254z"/>
        <path opacity="0.5066" d="M187,215V111h15v104H187L187,215z M181,290v-23h26v23H181L181,290z M255.121,253H127.529L93.935,111
          H108.1l35.227,127h98.399l36.758-127h13.4L255.121,253L255.121,253z"/>
        <path opacity="0.511" d="M186,215V110h15v105H186L186,215z M181,289v-23h25v23H181L181,289z M254.461,252H126.869L93.275,110
          h14.166l35.227,127h98.399l36.758-127h13.4L254.461,252L254.461,252z"/>
        <path opacity="0.5154" d="M186,214V109h14v105H186L186,214z M180,288v-23h26v23H180L180,288z M253.801,252H126.209L92.615,109
          h14.165l35.227,128h98.399l36.758-128h13.4L253.801,252L253.801,252z"/>
        <path opacity="0.5198" d="M185,213V108h15v105H185L185,213z M179,287v-23h26v23H179L179,287z M253.141,251H125.549L91.955,108
          h14.165l35.228,128h98.398l36.758-128h13.4L253.141,251L253.141,251z"/>
        <path opacity="0.5242" d="M184,212V108h15v104H184L184,212z M179,287v-23h25v23H179L179,287z M252.48,250H124.889L91.295,108
          h14.165l35.228,127h98.399l36.757-127h13.4L252.48,250L252.48,250z"/>
        <path opacity="0.5286" d="M184,212V107h14v105H184L184,212z M178,286v-23h26v23H178L178,286z M251.821,249H124.229L90.636,107
          h14.165l35.227,127h98.399l36.758-127h13.4L251.821,249L251.821,249z"/>
        <path opacity="0.533" d="M183,211V106h15v105H183L183,211z M177,285v-23h26v23H177L177,285z M251.161,249H123.569L89.976,106
          h14.165l35.227,128h98.399l36.758-128h13.4L251.161,249L251.161,249z"/>
        <path opacity="0.5374" d="M182,210V105h15v105H182L182,210z M177,284v-23h25v23H177L177,284z M250.501,248H122.909L89.315,105
          h14.165l35.228,128h98.399l36.758-128h13.399L250.501,248L250.501,248z"/>
        <path opacity="0.5419" d="M182,209V105h14v104H182L182,209z M176,284v-23h26v23H176L176,284z M249.842,247H122.249L88.656,105
          h14.165l35.227,127h98.399l36.758-127h13.4L249.842,247L249.842,247z"/>
        <path opacity="0.5463" d="M181,209V104h15v105H181L181,209z M175,283v-23h26v23H175L175,283z M249.182,246H121.589L87.996,104
          h14.165l35.227,127h98.399l36.758-127h13.4L249.182,246L249.182,246z"/>
        <path opacity="0.5507" d="M180,208V103h15v105H180L180,208z M175,282v-23h25v23H175L175,282z M248.521,246H120.93L87.336,103
          h14.165l35.227,128h98.4l36.757-128h13.4L248.521,246L248.521,246z"/>
        <path opacity="0.5551" d="M180,207V102h14v105H180L180,207z M174,281v-23h26v23H174L174,281z M247.861,245H120.27L86.676,102
          h14.165l35.227,128h98.4l36.757-128h13.4L247.861,245L247.861,245z"/>
        <path opacity="0.5595" d="M179,206V102h15v104H179L179,206z M173,281v-23h26v23H173L173,281z M247.202,244H119.609L86.017,102
          h14.165l35.227,127h98.399l36.757-127h13.4L247.202,244L247.202,244z"/>
        <path opacity="0.5639" d="M178,206V101h15v105H178L178,206z M173,280v-23h25v23H173L173,280z M246.542,243H118.95L85.356,101
          h14.165l35.227,127h98.399l36.758-127h13.399L246.542,243L246.542,243z"/>
        <path opacity="0.5683" d="M178,205V100h14v105H178L178,205z M172,279v-23h26v23H172L172,279z M245.882,243H118.29L84.696,100
          h14.165l35.227,128h98.4l36.757-128h13.4L245.882,243L245.882,243z"/>
        <path opacity="0.5727" d="M177,204V99h15v105H177L177,204z M172,278v-23h25v23H172L172,278z M245.222,242H117.63L84.036,99
          h14.165l35.227,128h98.4l36.757-128h13.4L245.222,242L245.222,242z"/>
        <path opacity="0.5771" d="M177,203V99h14v104H177L177,203z M171,278v-23h25v23H171L171,278z M244.562,241H116.971L83.376,99
          h14.166l35.227,127h98.399l36.758-127h13.4L244.562,241L244.562,241z"/>
        <path opacity="0.5815" d="M176,203V98h14v105H176L176,203z M170,277v-23h26v23H170L170,277z M243.902,240H116.311L82.716,98
          h14.166l35.227,127h98.399l36.758-127h13.4L243.902,240L243.902,240z"/>
        <path opacity="0.5859" d="M175,202V97h15v105H175L175,202z M170,276v-23h25v23H170L170,276z M243.242,240H115.65L82.057,97
          h14.165l35.227,128h98.399l36.758-128h13.4L243.242,240L243.242,240z"/>
        <path opacity="0.5903" d="M175,201V96h14v105H175L175,201z M169,275v-23h25v23H169L169,275z M242.582,239H114.991L81.396,96
          h14.165l35.228,128h98.399l36.757-128h13.4L242.582,239L242.582,239z"/>
        <path opacity="0.5947" d="M174,200V96h14v104H174L174,200z M168,275v-23h26v23H168L168,275z M241.923,238H114.331L80.737,96
          h14.165l35.227,127h98.399l36.758-127h13.399L241.923,238L241.923,238z"/>
        <path opacity="0.5991" d="M173,200V95h15v105H173L173,200z M168,274v-23h25v23H168L168,274z M241.263,237H113.671L80.077,95
          h14.165l35.227,127h98.4l36.757-127h13.4L241.263,237L241.263,237z"/>
        <path opacity="0.6035" d="M173,199V94h14v105H173L173,199z M167,273v-23h25v23H167L167,273z M240.603,237H113.011L79.417,94
          h14.165l35.227,128h98.4l36.757-128h13.4L240.603,237L240.603,237z"/>
        <path opacity="0.6079" d="M172,198V93h14v105H172L172,198z M166,272v-23h26v23H166L166,272z M239.942,236H112.351L78.757,93
          h14.165l35.228,128h98.399l36.757-128h13.401L239.942,236L239.942,236z"/>
        <path opacity="0.6123" d="M171,197V93h15v104H171L171,197z M166,272v-23h25v23H166L166,272z M239.283,235H111.691L78.097,93
          h14.166l35.227,127h98.399l36.757-127h13.401L239.283,235L239.283,235z"/>
        <path opacity="0.6167" d="M171,197V92h14v105H171L171,197z M165,271v-23h25v23H165L165,271z M238.623,234H111.031L77.438,92
          h14.165l35.227,127h98.399l36.758-127h13.4L238.623,234L238.623,234z"/>
        <path opacity="0.6211" d="M170,196V91h14v105H170L170,196z M164,270v-23h26v23H164L164,270z M237.963,234H110.371L76.777,91
          h14.165l35.227,128h98.399l36.758-128h13.4L237.963,234L237.963,234z"/>
        <path opacity="0.6256" d="M169,195V90h15v105H169L169,195z M164,269v-23h25v23H164L164,269z M237.303,233H109.711L76.118,90
          h14.165l35.228,128h98.399l36.757-128h13.4L237.303,233L237.303,233z"/>
        <path opacity="0.63" d="M169,194V90h14v104H169L169,194z M163,269v-23h25v23H163L163,269z M236.644,232H109.052L75.458,90
          h14.165l35.227,127h98.399l36.757-127h13.401L236.644,232L236.644,232z"/>
        <path opacity="0.6344" d="M168,194V89h14v105H168L168,194z M162,268v-23h26v23H162L162,268z M235.983,231H108.392L74.798,89
          h14.165l35.227,127h98.399l36.758-127h13.399L235.983,231L235.983,231z"/>
        <path opacity="0.6388" d="M167,193V88h15v105H167L167,193z M162,267v-23h25v23H162L162,267z M235.323,231H107.731L74.138,88
          h14.165l35.227,128h98.4l36.757-128h13.4L235.323,231L235.323,231z"/>
        <path opacity="0.6432" d="M167,192V87h14v105H167L167,192z M161,266v-23h25v23H161L161,266z M234.663,230H107.072L73.478,87
          h14.166l35.227,128h98.399l36.758-128h13.399L234.663,230L234.663,230z"/>
        <path opacity="0.6476" d="M166,191V87h14v104H166L166,191z M160,266v-23h26v23H160L160,266z M234.004,229H106.412L72.818,87
          h14.166l35.227,127h98.399l36.758-127h13.4L234.004,229L234.004,229z"/>
        <path opacity="0.652" d="M165,191V86h15v105H165L165,191z M160,265v-23h25v23H160L160,265z M233.344,228H105.752L72.158,86
          h14.165l35.227,127h98.4l36.757-127h13.4L233.344,228L233.344,228z"/>
        <path opacity="0.6564" d="M165,190V85h14v105H165L165,190z M159,264v-23h25v23H159L159,264z M232.684,228H105.092L71.498,85
          h14.165l35.227,128h98.4l36.757-128h13.4L232.684,228L232.684,228z"/>
        <path opacity="0.6608" d="M164,189V84h15v105H164L164,189z M158,263v-23h26v23H158L158,263z M232.023,227H104.432L70.838,84
          h14.166l35.227,128h98.4l36.757-128h13.4L232.023,227L232.023,227z"/>
        <path opacity="0.6652" d="M163,188V84h15v104H163L163,188z M158,262v-22h25v22H158L158,262z M231.363,226H103.772L70.178,84
          h14.166l35.227,127h98.4l36.756-127h13.4L231.363,226L231.363,226z"/>
        <path opacity="0.6696" d="M163,188V83h14v105H163L163,188z M157,262v-23h26v23H157L157,262z M230.704,225H103.112L69.519,83
          h14.165l35.227,127h98.4l36.757-127h13.4L230.704,225L230.704,225z"/>
        <path opacity="0.674" d="M162,187V82h15v105H162L162,187z M156,261v-23h26v23H156L156,261z M230.044,225H102.452L68.858,82
          h14.165l35.227,128h98.4l36.757-128h13.4L230.044,225L230.044,225z"/>
        <path opacity="0.6784" d="M161,186V81h15v105H161L161,186z M156,260v-23h25v23H156L156,260z M229.384,224H101.792L68.199,81
          h14.165l35.227,128h98.4l36.757-128h13.401L229.384,224L229.384,224z"/>
        <path opacity="0.6828" d="M161,185V81h14v104H161L161,185z M155,259v-22h26v22H155L155,259z M228.725,223H101.133L67.539,81
          h14.165l35.227,127h98.399l36.758-127h13.4L228.725,223L228.725,223z"/>
        <path opacity="0.6872" d="M160,185V80h15v105H160L160,185z M154,259v-23h26v23H154L154,259z M228.064,222H100.473L66.879,80
          h14.165l35.227,127h98.399l36.758-127h13.4L228.064,222L228.064,222z"/>
        <path opacity="0.6916" d="M159,184V79h15v105H159L159,184z M154,258v-23h25v23H154L154,258z M227.404,222H99.812L66.219,79
          h14.165l35.227,128h98.4l36.757-128h13.4L227.404,222L227.404,222z"/>
        <path opacity="0.696" d="M159,183V78h14v105H159L159,183z M153,257v-23h26v23H153L153,257z M226.744,221H99.153L65.559,78
          h14.165l35.227,128h98.399l36.757-128h13.4L226.744,221L226.744,221z"/>
        <path opacity="0.7004" d="M158,182V78h15v104H158L158,182z M152,256v-22h26v22H152L152,256z M226.084,220H98.493L64.899,78
          h14.165l35.227,127h98.399l36.758-127h13.4L226.084,220L226.084,220z"/>
        <path opacity="0.7048" d="M157,181V77h15v104H157L157,181z M152,256v-23h25v23H152L152,256z M225.425,219H97.833L64.239,77
          h14.165l35.227,127h98.4l36.757-127h13.4L225.425,219L225.425,219z"/>
        <path opacity="0.7093" d="M157,181V76h14v105H157L157,181z M151,255v-23h26v23H151L151,255z M224.765,219H97.173L63.579,76
          h14.165l35.227,128h98.4l36.757-128h13.401L224.765,219L224.765,219z"/>
        <path opacity="0.7137" d="M156,180V75h15v105H156L156,180z M150,254v-23h26v23H150L150,254z M224.105,218H96.513L62.919,75
          h14.166l35.227,128h98.399l36.758-128h13.399L224.105,218L224.105,218z"/>
        <path opacity="0.7181" d="M155,179V75h15v104H155L155,179z M150,253v-22h25v22H150L150,253z M223.445,217H95.854L62.259,75
          h14.165l35.227,127h98.399l36.758-127h13.4L223.445,217L223.445,217z"/>
        <path opacity="0.7225" d="M155,178V74h14v104H155L155,178z M149,253v-23h26v23H149L149,253z M222.785,216H95.193L61.6,74h14.165
          l35.227,127h98.4l36.757-127h13.4L222.785,216L222.785,216z"/>
        <path opacity="0.7269" d="M154,178V73h15v105H154L154,178z M148,252v-23h26v23H148L148,252z M222.125,216H94.533L60.939,73
          h14.165l35.227,128h98.4l36.757-128h13.4L222.125,216L222.125,216z"/>
        <path opacity="0.7313" d="M153,177V72h15v105H153L153,177z M148,251v-23h25v23H148L148,251z M221.465,215H93.874L60.28,72
          h14.165l35.228,128h98.399l36.757-128h13.4L221.465,215L221.465,215z"/>
        <path opacity="0.7357" d="M153,176V72h14v104H153L153,176z M147,250v-22h26v22H147L147,250z M220.805,214H93.214L59.62,72
          h14.165l35.227,127h98.399l36.757-127h13.4L220.805,214L220.805,214z"/>
        <path opacity="0.7401" d="M152,175V71h15v104H152L152,175z M146,250v-23h26v23H146L146,250z M220.146,213H92.554L58.96,71
          h14.165l35.227,127h98.4l36.757-127h13.4L220.146,213L220.146,213z"/>
        <path opacity="0.7445" d="M151,175V70h15v105H151L151,175z M146,249v-23h25v23H146L146,249z M219.486,213H91.894L58.3,70h14.165
          l35.228,128h98.399l36.757-128h13.4L219.486,213L219.486,213z"/>
        <path opacity="0.7489" d="M151,174V69h14v105H151L151,174z M145,248v-23h26v23H145L145,248z M218.826,212H91.234L57.64,69
          h14.165l35.228,128h98.399l36.758-128h13.4L218.826,212L218.826,212z"/>
        <path opacity="0.7533" d="M150,173V69h15v104H150L150,173z M144,247v-22h26v22H144L144,247z M218.166,211H90.574L56.98,69
          h14.165l35.227,127h98.399l36.758-127h13.4L218.166,211L218.166,211z"/>
        <path opacity="0.7577" d="M149,172V68h15v104H149L149,172z M144,247v-23h25v23H144L144,247z M217.506,210H89.914L56.32,68
          h14.165l35.227,127h98.4l36.757-127h13.4L217.506,210L217.506,210z"/>
        <path opacity="0.7621" d="M149,172V67h14v105H149L149,172z M143,246v-23h26v23H143L143,246z M216.846,210H89.254L55.661,67
          h14.165l35.227,128h98.4l36.757-128h13.4L216.846,210L216.846,210z"/>
        <path opacity="0.7665" d="M148,171V66h15v105H148L148,171z M142,245v-23h26v23H142L142,245z M216.186,209H88.594L55.001,66
          h14.165l35.227,128h98.4l36.757-128h13.4L216.186,209L216.186,209z"/>
        <path opacity="0.7709" d="M147,170V66h15v104H147L147,170z M142,244v-22h25v22H142L142,244z M215.525,208H87.934L54.34,66
          h14.166l35.227,127h98.4L238.89,66h13.4L215.525,208L215.525,208z"/>
        <path opacity="0.7753" d="M147,169V65h14v104H147L147,169z M141,244v-23h26v23H141L141,244z M214.866,207H87.274L53.681,65
          h14.165l35.227,127h98.4l36.757-127h13.4L214.866,207L214.866,207z"/>
        <path opacity="0.7797" d="M146,169V64h15v105H146L146,169z M140,243v-23h26v23H140L140,243z M214.206,207H86.614L53.021,64
          h14.166l35.227,128h98.4l36.757-128h13.4L214.206,207L214.206,207z"/>
        <path opacity="0.7841" d="M145,168V63h15v105H145L145,168z M140,242v-23h25v23H140L140,242z M213.547,206H85.955L52.361,63
          h14.165l35.227,128h98.4L236.91,63h13.4L213.547,206L213.547,206z"/>
        <path opacity="0.7885" d="M145,167V63h14v104H145L145,167z M139,241v-22h26v22H139L139,241z M212.887,205H85.294L51.701,63
          h14.166l35.227,127h98.399L236.25,63h13.4L212.887,205L212.887,205z"/>
        <path opacity="0.793" d="M144,166V62h15v104H144L144,166z M139,241v-23h25v23H139L139,241z M212.227,204H84.635L51.041,62
          h14.165l35.227,127h98.4L235.59,62h13.4L212.227,204L212.227,204z"/>
        <path opacity="0.7974" d="M144,166V61h14v105H144L144,166z M138,240v-23h25v23H138L138,240z M211.566,204H83.975L50.381,61
          h14.165l35.227,128h98.4L234.93,61h13.4L211.566,204L211.566,204z"/>
        <path opacity="0.8018" d="M143,165V60h14v105H143L143,165z M137,239v-23h26v23H137L137,239z M210.906,203H83.315L49.721,60
          h14.165l35.227,128h98.399L234.27,60h13.401L210.906,203L210.906,203z"/>
        <path opacity="0.8062" d="M142,164V60h15v104H142L142,164z M137,238v-22h25v22H137L137,238z M210.247,202H82.655L49.062,60
          h14.165l35.227,127h98.399L233.61,60h13.4L210.247,202L210.247,202z"/>
        <path opacity="0.8106" d="M142,163V59h14v104H142L142,163z M136,238v-23h25v23H136L136,238z M209.587,201H81.995L48.401,59
          h14.165l35.227,127h98.4L232.95,59h13.4L209.587,201L209.587,201z"/>
        <path opacity="0.815" d="M141,163V58h14v105H141L141,163z M135,237v-23h26v23H135L135,237z M208.927,201H81.335L47.742,58
          h14.165l35.227,128h98.4L232.29,58h13.4L208.927,201L208.927,201z"/>
        <path opacity="0.8194" d="M140,162V57h15v105H140L140,162z M135,236v-23h25v23H135L135,236z M208.268,200H80.675L47.082,57
          h14.165l35.227,128h98.399l36.758-128h13.4L208.268,200L208.268,200z"/>
        <path opacity="0.8238" d="M140,161V57h14v104H140L140,161z M134,235v-22h25v22H134L134,235z M207.607,199H80.015L46.422,57
          h14.165l35.227,127h98.4l36.757-127h13.4L207.607,199L207.607,199z"/>
        <path opacity="0.8282" d="M139,160V56h14v104H139L139,160z M133,235v-23h26v23H133L133,235z M206.947,198H79.355L45.762,56
          h14.165l35.227,127h98.4l36.757-127h13.4L206.947,198L206.947,198z"/>
        <path opacity="0.8326" d="M138,160V55h15v105H138L138,160z M133,234v-23h25v23H133L133,234z M206.287,198H78.695L45.102,55
          h14.165l35.227,128h98.4L229.65,55h13.4L206.287,198L206.287,198z"/>
        <path opacity="0.837" d="M138,159V54h14v105H138L138,159z M132,233v-23h25v23H132L132,233z M205.628,197H78.036L44.442,54
          h14.165l35.227,128h98.4l36.757-128h13.399L205.628,197L205.628,197z"/>
        <path opacity="0.8414" d="M137,158V54h14v104H137L137,158z M131,232v-22h26v22H131L131,232z M204.968,196H77.375L43.782,54
          h14.166l35.227,127h98.4l36.757-127h13.4L204.968,196L204.968,196z"/>
        <path opacity="0.8458" d="M136,157V53h15v104H136L136,157z M131,232v-23h25v23H131L131,232z M204.308,195H76.716L43.122,53
          h14.165l35.227,127h98.4l36.757-127h13.4L204.308,195L204.308,195z"/>
        <path opacity="0.8502" d="M136,157V52h14v105H136L136,157z M130,231v-23h25v23H130L130,231z M203.647,195H76.056L42.462,52
          h14.165l35.228,128h98.399l36.757-128h13.4L203.647,195L203.647,195z"/>
        <path opacity="0.8546" d="M135,156V51h14v105H135L135,156z M129,230v-23h26v23H129L129,230z M202.988,194H75.396L41.802,51
          h14.165l35.227,128h98.4l36.757-128h13.401L202.988,194L202.988,194z"/>
        <path opacity="0.859" d="M134,155V51h15v104H134L134,155z M129,229v-22h25v22H129L129,229z M202.328,193H74.736L41.143,51
          h14.165l35.227,127h98.4l36.757-127h13.4L202.328,193L202.328,193z"/>
        <path opacity="0.8634" d="M134,154V50h14v104H134L134,154z M128,229v-23h25v23H128L128,229z M201.668,192H74.077L40.482,50
          h14.165l35.227,127h98.4l36.757-127h13.4L201.668,192L201.668,192z"/>
        <path opacity="0.8678" d="M133,154V49h14v105H133L133,154z M127,228v-23h26v23H127L127,228z M201.008,192H73.417L39.823,49
          h14.165l35.227,128h98.4l36.757-128h13.4L201.008,192L201.008,192z"/>
        <path opacity="0.8722" d="M132,153V48h15v105H132L132,153z M127,227v-23h25v23H127L127,227z M200.349,191H72.757L39.163,48
          h14.165l35.227,128h98.401l36.756-128h13.401L200.349,191L200.349,191z"/>
        <path opacity="0.8767" d="M132,152V48h14v104H132L132,152z M126,226v-22h25v22H126L126,226z M199.688,190H72.097L38.503,48
          h14.165l35.227,127h98.4l36.757-127h13.4L199.688,190L199.688,190z"/>
        <path opacity="0.8811" d="M131,151V47h15v104H131L131,151z M125,226v-23h26v23H125L125,226z M199.028,189H71.437L37.843,47
          h14.165l35.227,127h98.4l36.757-127h13.4L199.028,189L199.028,189z"/>
        <path opacity="0.8855" d="M130,151V46h15v105H130L130,151z M125,225v-23h25v23H125L125,225z M198.368,189H70.777L37.183,46
          h14.165l35.227,128h98.4l36.757-128h13.401L198.368,189L198.368,189z"/>
        <path opacity="0.8899" d="M130,150V45h14v105H130L130,150z M124,224v-23h26v23H124L124,224z M197.708,188H70.117L36.523,45
          h14.165l35.226,128h98.4l36.758-128h13.399L197.708,188L197.708,188z"/>
        <path opacity="0.8943" d="M129,149V45h15v104H129L129,149z M123,223v-22h26v22H123L123,223z M197.049,187H69.457L35.863,45
          h14.165l35.227,127h98.4l36.757-127h13.4L197.049,187L197.049,187z"/>
        <path opacity="0.8987" d="M128,148V44h15v104H128L128,148z M123,223v-23h25v23H123L123,223z M196.389,186H68.797L35.204,44
          h14.165l35.227,127h98.4l36.757-127h13.4L196.389,186L196.389,186z"/>
        <path opacity="0.9031" d="M128,148V43h14v105H128L128,148z M122,222v-23h26v23H122L122,222z M195.729,186H68.137L34.543,43
          h14.166l35.227,128h98.4l36.758-128h13.399L195.729,186L195.729,186z"/>
        <path opacity="0.9075" d="M127,147V42h15v105H127L127,147z M121,221v-23h26v23H121L121,221z M195.069,185H67.478L33.883,42
          h14.166l35.227,128h98.4l36.757-128h13.4L195.069,185L195.069,185z"/>
        <path opacity="0.9119" d="M126,146V42h15v104H126L126,146z M121,220v-22h25v22H121L121,220z M194.409,184H66.817L33.224,42
          h14.165l35.227,127h98.4l36.757-127h13.4L194.409,184L194.409,184z"/>
        <path opacity="0.9163" d="M126,145V41h14v104H126L126,145z M120,220v-23h26v23H120L120,220z M193.749,183H66.158L32.563,41
          h14.165l35.227,127h98.4l36.757-127h13.4L193.749,183L193.749,183z"/>
        <path opacity="0.9207" d="M125,145V40h15v105H125L125,145z M119,219v-23h26v23H119L119,219z M193.089,183H65.498L31.904,40
          h14.165l35.227,128h98.4l36.757-128h13.4L193.089,183L193.089,183z"/>
        <path opacity="0.9251" d="M124,144V39h15v105H124L124,144z M119,218v-23h25v23H119L119,218z M192.43,182H64.838L31.244,39
          h14.166l35.227,128h98.4l36.757-128h13.4L192.43,182L192.43,182z"/>
        <path opacity="0.9295" d="M124,143V39h14v104H124L124,143z M118,217v-22h26v22H118L118,217z M191.77,181H64.178L30.584,39
          h14.165l35.227,127h98.4l36.757-127h13.4L191.77,181L191.77,181z"/>
        <path opacity="0.9339" d="M123,142V38h15v104H123L123,142z M117,217v-23h26v23H117L117,217z M191.109,180H63.518L29.924,38
          h14.165l35.227,127h98.4l36.757-127h13.4L191.109,180L191.109,180z"/>
        <path opacity="0.9383" d="M122,142V37h15v105H122L122,142z M117,216v-23h25v23H117L117,216z M190.449,180H62.858L29.264,37
          h14.165l35.227,128h98.401l36.756-128h13.4L190.449,180L190.449,180z"/>
        <path opacity="0.9427" d="M122,141V36h14v105H122L122,141z M116,215v-23h26v23H116L116,215z M189.79,179H62.198L28.604,36H42.77
          l35.227,128h98.4l36.757-128h13.4L189.79,179L189.79,179z"/>
        <path opacity="0.9471" d="M121,140V36h15v104H121L121,140z M115,214v-22h26v22H115L115,214z M189.13,178H61.538L27.944,36
          h14.165l35.227,127h98.4l36.757-127h13.4L189.13,178L189.13,178z"/>
        <path opacity="0.9515" d="M120,139V35h15v104H120L120,139z M115,214v-23h25v23H115L115,214z M188.47,177H60.878L27.285,35
          h14.165l35.227,127h98.4l36.757-127h13.4L188.47,177L188.47,177z"/>
        <path opacity="0.9559" d="M120,139V34h14v105H120L120,139z M114,213v-23h26v23H114L114,213z M187.811,177H60.218L26.625,34
          H40.79l35.227,128h98.4l36.758-128h13.4L187.811,177L187.811,177z"/>
        <path opacity="0.9604" d="M119,138V33h15v105H119L119,138z M113,212v-23h26v23H113L113,212z M187.15,176H59.559L25.965,33
          h14.165l35.227,128h98.401l36.757-128h13.4L187.15,176L187.15,176z"/>
        <path opacity="0.9648" d="M118,137V33h15v104H118L118,137z M113,211v-22h25v22H113L113,211z M186.49,175H58.898L25.305,33H39.47
          l35.227,127h98.4l36.757-127h13.4L186.49,175L186.49,175z"/>
        <path opacity="0.9692" d="M118,136V32h14v104H118L118,136z M112,211v-23h26v23H112L112,211z M185.83,174H58.239L24.645,32H38.81
          l35.226,127h98.4l36.757-127h13.4L185.83,174L185.83,174z"/>
        <path opacity="0.9736" d="M117,136V31h15v105H117L117,136z M111,210v-23h26v23H111L111,210z M185.17,174H57.579L23.985,31H38.15
          l35.227,128h98.4l36.757-128h13.4L185.17,174L185.17,174z"/>
        <path opacity="0.978" d="M116,135V30h15v105H116L116,135z M111,209v-23h25v23H111L111,209z M184.511,173H56.919L23.325,30H37.49
          l35.227,128h98.4l36.758-128h13.4L184.511,173L184.511,173z"/>
        <path opacity="0.9824" d="M116,134V30h14v104H116L116,134z M110,208v-22h26v22H110L110,208z M183.851,172H56.259L22.665,30
          H36.83l35.227,127h98.4l36.757-127h13.4L183.851,172L183.851,172z"/>
        <path opacity="0.9868" d="M115,133V29h15v104H115L115,133z M109,208v-23h26v23H109L109,208z M183.19,171H55.599L22.005,29H36.17
          l35.226,127h98.4l36.757-127h13.4L183.19,171L183.19,171z"/>
        <path opacity="0.9912" d="M114,133V28h15v105H114L114,133z M109,207v-23h25v23H109L109,207z M182.531,171H54.939L21.345,28
          H35.51l35.227,128h98.4l36.756-128h13.4L182.531,171L182.531,171z"/>
        <path opacity="0.9956" d="M114,132V27h14v105H114L114,132z M108,206v-23h26v23H108L108,206z M181.871,170H54.279L20.685,27
          H34.85l35.227,128h98.401l36.757-128h13.4L181.871,170L181.871,170z"/>
        <path d="M113,131V27h15v104H113L113,131z M107,205v-22h26v22H107L107,205z M181.211,169H53.619L20.025,27H34.19l35.227,127h98.4
          l36.757-127h13.4L181.211,169L181.211,169z"/>
      </g>
    </g>
    <path id="white-logo" fill="#FFFFFF" d="M181.211,169.041H53.619L20.025,26.528H34.19l35.227,127.603h98.4l36.757-127.603h13.4
      L181.211,169.041L181.211,169.041z M113.162,131.226V26.528h14.536v104.697H113.162L113.162,131.226z M107.492,205.472v-22.835
      h25.517v22.835H107.492L107.492,205.472z"/>
  </g>
  </svg>
  <span>WEBCAMP</span>
</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#contact" class="text-center">Контакты</a></li>
    
  </ul>
</div><!-- /.navbar-collapse -->
